# this two links are good examples of this file content
# https://gist.githubusercontent.com/gabrielhurley/1192142/raw/a8f20fbabb79f2a24487c158c7ea42a0574a8049/.pylintrc
# https://raw.githubusercontent.com/Ensembl/gifts_rest/3243c6181bba6b6ef28f3fefbd5a6760f635eb13/pylintrc


[MASTER]

# Specify a configuration file.
#rcfile=

# Python code to execute, usually for sys.path manipulation such as
# pygtk.require().
#init-hook=

# Profiled execution.
profile=no

# Add files or directories to the blacklist. They should be base names, not
# paths.
ignore=CVS

# Pickle collected data for later comparisons.
persistent=yes

# List of plugins (as comma separated values of python modules names) to load,
# usually to register additional checkers.
load-plugins=pylint_django

[MESSAGES CONTROL]

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time.
#enable=

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
disable=unused-wildcard-import, too-few-public-methods, missing-class-docstring, missing-function-docstring, line-too-long, unused-argument, logging-format-interpolation

[REPORTS]

# Set the output format. Available formats are text, parseable, colorized, msvs
# (visual studio) and html
output-format=colorized
