# this two are good examples of what this file may contain
# https://gist.githubusercontent.com/gabrielhurley/1192142/raw/a8f20fbabb79f2a24487c158c7ea42a0574a8049/.pylintrc
# https://raw.githubusercontent.com/Ensembl/gifts_rest/3243c6181bba6b6ef28f3fefbd5a6760f635eb13/pylintrc


[MASTER]

# Specify a configuration file.
#rcfile=

# Python code to execute, usually for sys.path manipulation such as
# pygtk.require().
#init-hook=

# Add files or directories to the blacklist. They should be base names, not
# paths.
ignore=CVS

# Pickle collected data for later comparisons.
persistent=yes

# List of plugins (as comma separated values of python modules names) to load,
# usually to register additional checkers.
load-plugins=pylint_django

[MESSAGES CONTROL]

# Enable the message, report, category or checker with the given id(s). You can
# either give multiple identifier separated by comma (,) or put this option
# multiple time.
#enable=

# Disable the message, report, category or checker with the given id(s). You
# can either give multiple identifier separated by comma (,) or put this option
# multiple time (only on the command line, not in the configuration file where
# it should appear only once).
disable=unused-wildcard-import, too-few-public-methods, missing-class-docstring, missing-function-docstring, line-too-long, logging-format-interpolation, fixme, broad-exception-caught, abstract-method, too-many-ancestors, too-many-branches, too-many-statements, too-many-locals, too-many-arguments, too-many-return-statements, no-else-return, redefined-builtin, redefined-outer-name, protected-access, import-outside-toplevel, consider-iterating-dictionary, literal-comparison, missing-module-docstring, consider-using-with, unused-private-member, useless-super-delegation, inconsistent-return-statements, consider-merging-isinstance, invalid-name

[REPORTS]

# Set the output format. Available formats are text, parseable, colorized, msvs
# (visual studio) and html
output-format=colorized
